.main_pc{
    padding-left: 360px;
}

body{
    font-family: 'Noto Sans Japanese', sans-serif;
    margin-top:103px;
}

html{
    scroll-behavior: smooth;
}









nav {
    position: fixed;
    width:60.6%;
    display: flex;
    justify-content: space-between;
    margin: -2px 378px;
    align-items: center;
}

nav ul{
    display:flex;
    align-items: center;

}


nav .header__left span{
    
    color: #005BAC;
    font-size:32px;
    font-weight:bold;
    font-family: poppins;
    display: block;
    transform: scaleX(1.1);
    letter-spacing: -1.3px;
}






nav ul li{
    list-style: none;
 }

nav .header__right ul li{
    margin: 0 0 0 50px;
}

nav .header__right ul li a{
    font-size:20px;
    font-weight:bold;
    font-style: Medium;
    text-decoration: none;
    color:#333333;
}

nav .header__right ul li a:hover{
    opacity:0.6;
}





nav .header__right ul li .header__btn__icon{
    color:#FFFFFF;
    font-weight: bold;
}
    
nav .header__right ul .header__btn{
    padding:15px 40px;
    background-color: #005BAC;
    border-radius: 38px;
}


.main{
    width:81%;
    margin:15px 0% 0px 9.3%;
}






.section{
    position: relative;
}

.section img{
    width: 100%;
    max-width: 100%;
}

.section .section__box{
    position: absolute;
    top:0%;
    display: block;
    width:35%;
    margin:5.5% 20.7%;
}






.section .section__box .section__box__top .section__box__top__text
.section__box__top__text__top p
{
    margin:14px 10px 0px 0px;
}

.section .section__box .section__box__top
{
    display: flex;
    justify-content: left;
    text-align: center;
    margin:-5px 13px;
    margin-bottom: 31px;
}

.section .section__box .section__box__top .section__box__top__img img
{
    width:100%;
    max-width: 100%;
}





.section .section__box .section__box__text 
.section__box__text__bottom h2
{
    margin:8px 0;
    padding:0;
    font-size: 60px;
    font-family: Heavy;
    color: #005BAC;
}

.section .section__box .section__box__text 
.section__box__text__bottom h2:nth-child(2)
{
    margin:-13px 0;
    padding:0;
    font-size: 60px;
    font-family: Heavy;
    color: #005BAC;
}







.section .section__box .section__box__text{
    padding-left: 1.5%;
}


.section .section__box .section__box__text p{
    margin:0;
    padding:0;
    font-size: 31px;
    letter-spacing: 0.055em;
}

.section .section__box .section__box__text .section__box__text__bottom{

}


.section .box .icon img{
    width:100%;
    max-width: 100%;
}




.section .box .icon{
    display: flex;
    justify-content: left;
    text-align: center;
    width:40%;
}

.section .section__box .section__box__top p{
    font-size: 20px;
    margin: 10px 14px 0px;
}



.section .section__box .section__box__top 
.section__box__top__text .section__box__top__text__bottom{
    margin: 0px 52px;
}





.section .section__box .section__box__top 
.section__box__top__text .section__box__top__text__bottom span:nth-child(1){
    font-size: 50px;
    font-family: 'Poppins';
    color: #F11F8D;
    font-style: italic;
    font-weight: bold;
}

.section .section__box .section__box__top 
.section__box__top__text .section__box__top__text__bottom span:nth-child(2){
    font-size: 70px;
    font-family: 'Poppins';
    color: #F11F8D;
    font-style: italic;
    font-weight: bold;
}






.section .section__box .section__box__top 
p span{
    font-size: 44px;
    font-family: ExtraBold Italic;
    color: #F11F8D;
    font-style: italic;
    font-weight: bold;
}






.section .section__box .section__box__top 
p span:nth-child(3){
    font-size: 61px;
}







.section .box .text h1{
    font-size: 60px;
    color: #005BAC;
}

.section section__lead .image__right{
    width: 53px;
    right:0px;
}



 .about{
    display:block;
    background-color:#FFEDED ;
    text-align: center;
    align-items: center;
    padding: 37px 0px 79px 3px;
    margin-bottom:71px;
 }

 .about__tertiary{
    display:block;
    background-color:#FFEDED ;
    text-align: center;
    align-items: center;
    padding: 57px 0px 73px 3px;
 }

 .about__tertiary h3{
    margin:5px auto;
    margin-bottom: 40px;
    font-size: 15px;
    letter-spacing: 0.06em;
 }

 .about__tertiary span{
    padding: 30px 50px 22px 68px;
    border-radius: 38px;
    background-color: #0271E0;
}




 .about__tertiary span a{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}













 .about .about__info{
    margin:25px 3px 0px 0px;
    margin-bottom: 38px;
    font-size: 15px;
    letter-spacing: 0.06em;
 }

.about span{
    padding: 30px 50px 22px 68px;
    border-radius: 38px;
    background-color: #0271E0;
}

.about span a{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}
 




 .about ul li{
    background-color: #0271E0;
    border-radius: 38px;
    margin-top:20px;
    font-weight: bold;
 }

 .about ul li a{
    display:block;
    padding:20px 60px;
    color:#FFFFFF;
    text-decoration: none;
    font-size: 22px;
 }



 .group ul {
    display: flex;
    justify-content: center;
    margin:0px 0px 0px 0px;
    padding:0px;
    margin-bottom: 35px;
}
 .group ul li{
    transform: translate(0,-50%);
    list-style: none;
    display: flex;
    border-radius: 38px;
}





.group ul li:nth-child(1){
   padding: 15px 60px 15px 60px;
   background-color: #77CB33;
   align-items: center; 
   letter-spacing: 0.1em;
}



.group ul li:nth-child(2){
    padding: 15px 55px 15px 55px;
    margin-left: 45px;
    background-color: #F6AA00;
    align-items: center; 
    letter-spacing: 0.1em;
 }

 .group ul li:nth-child(3){
    padding: 20px 95px 20px 95px;
    margin-left: 51px;
    background-color: #3AC8AD;
    align-items: center; 
    letter-spacing: 0.1em;
 }

 .group ul li a{
    font-size: 23px;
    font-weight: bold;
    color:#FFFFFF;
    text-decoration: none; 
 }

 .group ul li a:hover{
    opacity: 0.6;
}















.container {
    margin: 32px auto 62px auto;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    row-gap:40px;
    column-gap: 41px;
    max-width: 1240px;
    
}


.container:nth-child(even) {
    flex-direction: row-reverse;
}











.container .container__image__top,
.container .container__image__middle,
.container .container__image__bottom,
.container .container__concept__top,
.container .container__concept__middle,
.container .container__concept__bottom
{
    width:calc(50% - 60px);
}


.container .container__image,
.container .container__concept
{
    width:calc(50% - 60px);
}











.container .container__concept,
.container .container__concept,
.container .container__concept
{
    margin: -2px;;
}




.container .container__concept .point
{
    font-size: 24px;
    font-weight:bold;
    margin:0px;
    padding-top: 2px;
    line-height: 1.3;
}


.container .container__concept .point
{
    font-size: 24px;
    font-weight:bold;
    margin-top:0px;
}


.container .container__concept .point
{
    font-size: 24px;
    font-weight:bold;
    margin-bottom:0px;
    line-height: 1.7;
}



.container .container__concept .point__text{
    margin-top: 4px;
    line-height: 1.99;
}







.container .container__concept__bottom .point__tertiary
{
    font-size: 24px;
    font-weight:bold;
    margin-top:0px;
    margin-bottom:12px;
    line-height: 1.7;
}
s





.container .container__concept__top .point__text,
.container . .point__text,
.container .container__concept_container__concept__middle_bottom .point__text
{   
    margin-top: 17px;
    line-height: 1.8;
    letter-spacing: -0.01em;
}





/*
.container .container__concept__top h2,
.container .container__concept__middle h2,
.container .container__concept__bottom h2
{     
    font-family: 'Poppins';
    font-style: italic;
    font-size: 27px;
    font-weight:bold;
    color: #F11F8D;
    margin:0px;
    margin-left:2px;
}

.container .container__concept__top span,
.container .container__concept__middle span,
.container .container__concept__bottom span
{
    font-family: 'Poppins';
    font-style: italic;
    font-size: 40px;
    font-weight:bold;
    color: #F11F8D;
}

*/



.container .container__concept h2
{     
    font-family: 'Poppins';
    font-style: italic;
    font-size: 27px;
    font-weight:bold;
    color: #F11F8D;
    margin:0px;
    margin-left:2px;
}

.container .container__concept span
{
    font-family: 'Poppins';
    font-style: italic;
    font-size: 40px;
    font-weight:bold;
    color: #F11F8D;
}


















.container .container__image__top img,
.container .container__image__middle img,
.container .container__image__bottom img
{
    width:100%;
    max-width: 100%;
}





.label{
    text-align: center;
    font-size:35px;
    font-weight:bold;
    margin-bottom:34px;
}

.label:hover{
    transform: scale(1.2);
}

.images ul{
    width: 63.5%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display:flex; 
    justify-content:center;
    column-gap: 25px; 
}

.images ul li
{
    width:47%;
    list-style-type: none;
}

.images ul li:nth-child(1)
{
    font-size: 22px;
    font-weight: bold;
    background-color: #F2F9FF;  
    padding :16px 0;
    letter-spacing: 0.09em;
    border-radius: 12px 12px 0px 0px;
}

.images ul li:nth-child(2)
{
    font-size: 22px;
    font-weight: bold;
    background-color: #F0F0F0;
    padding: 20px 0;
    letter-spacing: 0.09em;
    border-radius: 12px 12px 0px 0px;    
}


.images .select_container{
    margin: 26px auto 78px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1500px;
    row-gap: 20px;
    column-gap: 31px;
}



.images .select_container .img__top__left,
.images .select_container .img__top__right,
.images .select_container .img__bottom__left,
.images .select_container .img__bottom__right,
.images .select_container .image__top__left,
.images .select_container .image__top__right,
.images .select_container .image__bottom__left,
.images .select_container .image__bottom__right{
    
}




.img__top__left img,
.img__top__right img,
.img__bottom__left img,
.img__bottom__right img,
.image__top__left img,
.image__top__right img,
.image__bottom__left img,
.image__bottom__right img,
.end__left search img,
.end__right search img{
    width:100%;
    max-width:100%;
}

.img__top__left img:hover,
.img__top__right img:hover,
.img__bottom__left img:hover,
.img__bottom__right img:hover,
.image__top__left img:hover,
.image__top__right img:hover,
.image__bottom__left img:hover,
.image__bottom__right img:hover,
.end__left img:hover,
.end__right img:hover{
    transform: scale(1.2);
    transition: 0.3s
}


.img__top__left .logo,
.img__top__right .logo,
.img__bottom__left .logo,
.img__bottom__right .logo,
.image__top__left .logo,
.image__top__right .logo,
.image__bottom__left .logo,
.image__bottom__right .logo,
.end__left .search,
.end__right .search{
    margin-bottom: -10px;
    overflow: hidden;
}


.images .select_container .image__top__left,
.images .select_container .image__top__right,
.images .select_container .image__bottom__left,
.images .select_container .image__bottom__right{
    display: none;
}



.images .select_container .img__top__left .local{
    display: flex;
    justify-content: left;
    align-items: center;
}


.images .select_container .img__top__left .local p{
    font-weight: bold;
}




.images .select_container .img__top__left .local .site,
.images .select_container .img__top__right .local .site,
.images .select_container .img__bottom__left .local .site,
.images .select_container .img__bottom__right .local .site,
.images .select_container .image__top__left .local .site,
.images .select_container .image__top__right .local .site,
.images .select_container .image__bottom__left .local .site,
.images .select_container .image__bottom__right .local .site{
    width:3.2%;
}


.images .select_container .img__top__left .local p,
.images .select_container .img__top__right .local p,
.images .select_container .img__bottom__left .local p,
.images .select_container .img__bottom__right .local p,
.images .select_container .image__top__left .local p,
.images .select_container .image__top__right .local p,
.images .select_container .image__bottom__left .local p,
.images .select_container .image__bottom__right .local p{
    font-size: 20px;
    font-weight: bold;
    margin-left: 11px;
}

.images .select_container .img__top__left .local ,
.images .select_container .img__top__right .local ,
.images .select_container .img__bottom__left .local ,
.images .select_container .img__bottom__right .local ,
.images .select_container .image__top__left .local ,
.images .select_container .image__top__right .local ,
.images .select_container .image__bottom__left .local ,
.images .select_container .image__bottom__right .local {
    display: flex;
    justify-content: left;
    align-items: center;
}









.product{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 0.25em;
    margin-bottom: 25px;
}










.end_images img{
    width:50%;
}




    nav ul li{
        list-style: none;
     }
    
    nav .header_1 ul li{
        margin: 0 0 0 48px;
    }
    
    nav .header_1 ul .header_4{
        padding:16px;
        background-color: #005BAC;
        border-radius: 38px;
    }
        
     .contact{
        display:block;
        height: 231px;
        background-color:#FFEDED ;
        text-align: center;
        align-items: center;
        padding: 56px;
     }
    
     .contact .nyuugaku_kenntou{
        margin:0 auto;
       
     }
    
    .reason{
        font-size: 38px;
        font-weight: bold;
        text-align: center;
        letter-spacing: -0.04em;
    }


    

           
    .main .container__concept__top h2,
    .main .container__concept__middle h2,
    .main .container__concept__bottom h2{
        font-style: italic;
        font-weight: bold;
        font-size: 25px;
        font-family: 'Poppins';
        color: #F11F8D;
        margin: 0px 0px 0px 0px; 
    }


    .main .container__concept__top h2 span,
    .main .container__concept__middle h2 span,
    .main .container__concept__bottom h2 span{
        font-style: italic;
        font-weight: bold;
        font-family: 'Poppins';
        font-size: 40px;
        color: #F11F8D;
    }











    .main .container .container__concept__top .point,
    .main .container .container__concept__middle .point,
    .main .container .container__concept__bottom .point{
        font-style: italic;
        font-weight: bold;
        font-size: 20px;
        margin: 0px 0px 0px 0px; 
    }


    .main .container .container__concept__top .point__text,
    .main .container .container__concept__middle .point__text,
    .main .container .container__concept__bottom .point__text{
        font-size: 13px;
        margin: 18px 0px 0px 0px; 
        letter-spacing: .01rem;
        line-height: 1.8;
    }





    .container .container__top,
    .container .container__middle,
    .container .container__bottom{
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        max-width: 1500px;
    }
        
        
    .reason h1{
        font-family: 'Poppins';
        color:#F11F8D;
        display: inline;
        font-size: 50px;
        font-weight:bold;
    }
    
    .ko-su{
        text-align: center;
    }
    
    .images .select_tab .tab__left,
    .images .select_tab .tab__right
    {
        padding: 20px 196px 20px 196px;
        list-style-type: none;
    }
    
    .images .select_tab .tab__left
    {
        
        background-color:#F2F9FF ;
    }

    .images .select_tab .tab__right
    {   
        
        background-color: #F0F0F0;
    }

 
    
    table.table_1 {
        margin: 0 auto 64px;
        text-align: center;
    }
    
    table .th_1 {
        
        font-size: 18px;
        width: 141px;
        height:74px;
        background-color: #F5F5F5;
    }
    
    table .th_2 {
        
        font-size: 18px;
        width: 452px;
        height:74px;
        background-color: #F5F5F5;
    }
    
    table .th_2 h6{
        text-indent: 1em;
    }








    table .td_1 {
        height:75px;
        line-height: 4.73;
    }
    
    table .td_2 {
        
        font-size:30px;
        font-weight: bold;
        font-family: 'Poppins';
        color:#F23397;
    }
    
    table .td_2 span {
        font-size:20px;
        font-weight: bold;
        font-family: 'Poppins';
        color:#F23397;
    }








    .end__images{
        display: flex;
        justify-content: center;
    }
    
    .end__images .end__left,
    .end__images .end__right
    { 
        position: relative;
        width:50%;
    }
    

    
    .end__images .end__right
    { 
        position: relative;
        width:50%;
    }









    .end__images .end__left .end__title__letf {
        position:absolute;
        font-size: 32px;
        font-weight:bold;
        top:50%;
        left:50%;
        margin-top: 8px;
        transform: translate(-50%,-50%);
        color:#FFFFFF;
    }


    .end__images .end__left .search,
    .end__images .end__right .search
    {
        width: 100%;
        max-width: 100%;
    }









    .end__images .end__left img,
    .end__images .end__right img
    {
        width: 100%;
        max-width: 100%;
    }




  

    .end__images .end__right .end__title__right {
        position:absolute;
        font-size: 32px;
        font-weight:bold;
        top:50%;
        left:50%;
        margin-top: 8px;
        transform: translate(-50%,-50%);
        color:#FFFFFF;
    }
   







    .end__images .end__left .end__title__letf span a,
    .end__images .end__right .end__title__right span a
    {
        color:#FFFFFF;
        text-decoration: none;
    }

    .footer{
        margin: 0px;
        padding: 54px 51px;
        text-align: center;
        font-size: 13px;
        background-color: #DDDDDD;
        letter-spacing: 0.011em;
    }
        
    #navArea .nav{
        display: block;
        position: fixed;
        top:0px;
        left:-1000px;
        width:350px;
        height:291px;
        padding: 20px 20px 20px 20px;
        transition: all 0.5s;
        z-index: 3;
        background-color: #005BAC;
    }

    #navArea.open .nav{
        left:300px;
    }

    
#navArea .nav .inner .link__top,
#navArea .nav .inner .link__middle,
#navArea .nav .inner .link__bottom{
    position:relative;
    display: block;
    margin-bottom: 20px;
    width: 350px;
    height: 47px;
    left:26px;
}      

hr{
    position:relative;
    top:10px;
    left:-28px;
}

#navArea .nav .inner .link__bottom{
    margin-bottom: 32px;
}   

#navArea .nav .inner .link__top .toc,
#navArea .nav .inner .link__middle .toc,
#navArea .nav .inner .link__bottom .toc{
    position:absolute;
    top:0px;
    left:-12px;
    transform: translate(-100%,0);
}  

#navArea .nav .inner .link__top {
    display:block;
}  

#navArea .nav .inner a{
    text-decoration: none;
    font-size: 18px;
    width: 350px;
    height: 47px;
    border-bottom: #FFFFFF;
    color:#FFFFFF;
}

#navArea .nav .inner span{
    display: block;
    text-align: center;
    padding: 20px 85px;
    color: #005BAC;
    background-color: #FFFFFF;
    border-radius: 33px;
}

#navArea .nav .inner span a{
    color: #005BAC;
}

.toggle-btn{
    display: none;
    position:relative;
    position:fixed;
    top:0px;
    right:0px;
    width:70px;
    height:70px;
    z-index :3;
    cursor:pointer;
    background-color: #005BAC;
}   

.toggle-btn .first span{
    position:absolute;
    display:block;
    top:22px;
    left:20px;
    width:30px;
    height:2px;
    border-bottom: 1px;
    background-color: #FFFFFF;
}

.toggle-btn .second span{
    position:absolute;
    display:block;
    top:35px;
    left:20px;
    width:30px;
    height:2px;
    border-bottom: 1px;
    background-color: #FFFFFF;
}

.toggle-btn .third span{
    position:absolute;
    display:block;
    top:48px;
    left:20px;
    width:30px;
    height:2px;
    border-bottom: 1px;
    background-color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    body {
      display: block;
      flex-wrap: wrap ;
    }

    .container{
        display: block;
    }

    .group ul {
        display: flex;
        flex-wrap: wrap;
        max-width: 340px;
        margin: 0 auto;
    }
    
    .group ul li:nth-child(2){
        margin: 0px;
     }


     .container:nth-child(even) {
        flex-direction: row-reverse;
    }



    .container .container__image__top,
    .container .container__image__middle,
    .container .container__image__bottom,
    .container .container__concept__top,
    .container .container__concept__middle,
    .container .container__concept__bottom
    {
        width:calc(100% - 40px);
        margin: 0 auto;
    }
    
  

    

    .container .complexBox{
        display:block;
    }



    .end__images{
        display:block;
    }
    
    .end__images .end__left,
    .end__images .end__right
    { 
        position: relative;      
        width:100%;
    }
    
    .container .complexBox .container__concept__top,
    .container .complexBox .container__concept__middle,
    .container .complexBox .container__concept__bottom,
    .container .complexBox .container__image__top,
    .container .complexBox .container__image__middle,
    .container .complexBox .container__image__bottom
    {
        width:96%;
        margin: 0 auto;
        text-align: center;
    }

    .container  .complexBox:nth-child(2n)
    {
        flex-direction: column-reverse;
    }

    .toggle-btn{
        display: flex;
    }
 
  }





/*
  @media screen and (max-width: 1200px) {
    .group ul {
        display: flex;
        flex-wrap: wrap;
        max-width: 340px;
        margin: 0 auto;
    }

    .group ul li:nth-child(2){
        margin: 0px; 
     }
*/



  }